<h1>Tony Maroni's Pizza House</h1>
<h2>"Now, that's a tasty pizza!"</h2>

<div class="Blurb">Founded in 1969 in "Little Italy", New York, Tony's Pizza House has become a neighborhood favorite over the years. Tony's Dad was born in Sicily, his Mom in Naples, and both are from a long line of pizza chefs.  The story is that Tony's great-great grandparents had heated "discussions" about which side of the family began making pizza first.  No one knows who won these arguments.  Tony says it doesn't matter now because both sides of his family now have a firm lock on the art of pizza making.  In any case, Tony's Pizza House "pies" have become the talk of the neighborhood for decades, and Friday night would not be the same without a pie or a slice.  So, come on over when you're in the neighborhood for a slice of New York's undesputably best pizza.  You'll surely agree with everyone, that's a tasty pizza!</div>

<div class="ctawrapper">
  <a class="cta green" href="account/create">Create Your Tony's Account ...</a>
  <a class="cta blue" href="session/create">Login to Your Tony's Account</a>
</div>
