<h1>Your Order Information</h1>
<h2>Select from our delicious toppings!</h2>
<hr />

<table id="ordersListTable">
  <tr>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Toppings</th>
    <th>Details</th>
  </tr>
  <tr id="noOrdersMessage">
    <td colspan="5"><br><h2>You have no orders, please create one!</h2></td>
  </tr>
</table>

<div id="createOrderCTA" class="ctaWrapper">
  <a class="cta green" href="orders/create">Create Your Tony's Pizza Order</a>
</div>
